Source: x11proto-bigreqs
Section: gui
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), autoconf, automake, xorg-util-macros (>= 1.2.0)
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, xorg-util-macros (>= 1.2.0)
Standards-Version: 3.8.3

Package: x11proto-bigreqs-dev
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: x11-common (>= 1:7.0.0)
Description: X11 Big Requests extension wire protocol
 This package provides the wire protocol for the BIG-REQUESTS extension, used to
 send larger requests than usual in order to avoid fragmentation.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
